.user-media {
    position: relative;
    padding-left: 60px;
    min-height: 50px;
}

.um-avatar-container {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
}

.um-author {
    display: block;
    width: 100%;
}

.um-author__name {
    margin-top: 0;
    margin-bottom: 3px;
    word-break: break-word;
    font-size: 18px;
}

.um-author__role {
    text-transform: capitalize;
    word-break: break-word;
    font-weight: 400;
    font-size: 0.92em;
}
