.li-item {
    position: relative;
    padding: 1em 60px;
    border-bottom: 1px solid #E0E0E0;
    word-break: break-word;
    font-weight: bold;
}

.li-item.has-avatar {
    padding-left: 80px;
    min-height: 80px;
}

.li-item:hover {
    color: #03A9F4;
}

.li-icon {
    position: absolute;
    top: 50%;
    left: 1em;
    display: block;
    margin-top: -12.5px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

.li-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    text-indent: -99999px;
    opacity: 0;
}

.li-arrow {
    position: absolute;
    top: 50%;
    right: 1em;
    display: block;
    margin-top: -7px;
    width: 9.3px;
    height: 15px;
    background: url('./assets/list-arrow.png') transparent no-repeat;
    background-size: 9.3px 15px;
}

.li-quote {
    position: absolute;
    top: 50%;
    right: 1em;
    display: block;
    margin-top: -7.5px;
    width: 17.3px;
    height: 15px;
    background: url('./assets/list-quote.png') transparent no-repeat;
    background-size: 17.3px 15px;
}

.li-avatar {
    position: absolute;
    top: 50%;
    left: 1em;
    display: block;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
}

.li-small i {
    font-style: normal;
    font-weight: lighter;
}

.li--orange .li-info {
    color: #D75927;
}

.li--orange.li-item:hover {
    color: #D75927;
}

.li--blue .li-info {
    color: #03A9F4;
}
