.monthly-report {
    padding-bottom: 80px;
}

.mr-icon--date {
    background-image: url('./assets/icon-date.png');
}

.li-item:hover .mr-icon--date {
    background-image: url('./assets/icon-date-active.png');
}
