html,
body {
    font-family: 'Roboto', sans-serif;
}

* {
    outline: none !important;
}

::-webkit-input-placeholder {
    color: #D1D3D4;
}

::-moz-placeholder {
    color: #D1D3D4;
}

:-ms-input-placeholder {
    color: #D1D3D4;
}

:-moz-placeholder {
    color: #D1D3D4;
}
