html,
body {
    font-family: 'Roboto', sans-serif;
}

* {
    outline: none !important;
}

::-webkit-input-placeholder {
    color: #D1D3D4;
}

::-moz-placeholder {
    color: #D1D3D4;
}

:-ms-input-placeholder {
    color: #D1D3D4;
}

:-moz-placeholder {
    color: #D1D3D4;
}

/* Global Components */

.tab__list {
    margin: 0;
    padding: 0;
    background: #F2F2F2;
    list-style: none;
}

.tab__list-item {
    display: inline-block;
    padding: 10px;
    border-right: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    color: #4D4D4D;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.tab__list-item:first-child {
    border-left: 0;
}

.tab__list-item:last-child {
    border-right: 0;
}

.tab__list-item--active {
    color: #03A9F4;
}
