.service-provider {
    padding-bottom: 80px;
}

.sp-icon--restaurants {
    background-image: url('./assets/sp-icon-restaurants.png');
}

.li-item:hover .sp-icon--restaurants {
    background-image: url('./assets/sp-icon-restaurants-active.png');
}

.sp-icon--daily-supplies {
    background-image: url('./assets/sp-icon-daily-supplies.png');
}

.li-item:hover .sp-icon--daily-supplies {
    background-image: url('./assets/sp-icon-daily-supplies-active.png');
}

.sp-icon--cleaning-services {
    background-image: url('./assets/sp-icon-cleaning-services.png');
}

.li-item:hover .sp-icon--cleaning-services {
    background-image: url('./assets/sp-icon-cleaning-services-active.png');
}

.sp-icon--laundry-services {
    background-image: url('./assets/sp-icon-laundry-services.png');
}

.li-item:hover .sp-icon--laundry-services {
    background-image: url('./assets/sp-icon-laundry-services-active.png');
}

/* List item */

.list-item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.li-item {
    position: relative;
    padding: 1em 60px;
    border-bottom: 1px solid #E0E0E0;
    word-break: break-word;
    font-weight: bold;
}

.li-item:hover {
    color: #03A9F4;
}

.li-icon {
    position: absolute;
    top: 50%;
    left: 1em;
    display: block;
    margin-top: -12.5px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

.li-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    text-indent: -99999px;
    opacity: 0;
}

.li-arrow {
    position: absolute;
    top: 50%;
    right: 1em;
    display: block;
    margin-top: -7px;
    width: 9.3px;
    height: 15px;
    background: url('./assets/list-arrow.png') transparent no-repeat;
    background-size: 9.3px 15px;
}
